<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
    {% from "mytools.html" import head_html  %}
    {% from "mytools.html" import footer_html %}


    <title> Welcome to your stats </title>
    {{ head_html() }}   
 
   </head>
    <body>
      <div class='page-header'>
        <h1> Hi {{username|safe}} <small> Welcome to your dashboard</small></h1>
      </div>

      <div class='container-fluid'>
        <div class='row-fluid'>

            <div class='span2'>
                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-1'>{{follows_vs_following[0]|safe}}</div>
            </div>
          
            <div class='span10'>
            <div class='container container-fluid'> 
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 ">{{popular_times[0]|safe }}</div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 ">{{growth[0]|safe }}</div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 ">{{common_tags[0]|safe}}</div>
              </div>
              <div class='row'>
                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-3 '>{{popular_days[0]|safe}}</div>
                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-4 '>{{comment_growth[0]|safe}}</div>
                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-3 '>{{best_tags[0]|safe}}</div>
              </div>  
            </div>
            </div>
    
        </div>
      </div>

    <script> {{ follows_vs_following[1]|safe }} {{ follows_vs_following[2]|safe }} 
     {{ popular_times[1]|safe }} {{ popular_times[2]|safe }} 
     {{ growth[1]|safe }} {{ growth[2]|safe }} 
     {{ comment_growth[1]|safe }} {{ comment_growth[2]|safe }}
     {{common_tags[1]|safe }} {{ common_tags[2]|safe }} 
     {{popular_days[1]|safe }} {{ popular_days[2]|safe }}
     {{best_tags[1]|safe }} {{ best_tags[2]|safe }} </script>
    {{ footer_html() }}

    </body>
</html>
