<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
    {% from "mytools.html" import head_html  %}
    {% from "mytools.html" import footer_html %}


    <title> Welcome to your stats </title>
    {{ head_html() }}   
 
   </head>
    <body>
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <p>work in progress</p>
            <p>
                <a class="btn btn-primary btn-lg">Learn more</a>
            </p>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
            {{popular_times[0]|safe }}
        </div> <!-- /col-md-4 -->
        <div class="col-md-4">
            {{follows_vs_following[0]|safe}}
        </div> <!-- /col-md-4 -->
        <div class="col-md-4">
            {{growth[0]|safe}}
        </div> <!-- /col-md-4 -->
      </div> <!-- /row -->
    </div>
    <script> {{ follows_vs_following[1]|safe }} {{ follows_vs_following[2]|safe }} </script>
    <script> {{ popular_times[1]|safe }} {{ popular_times[2]|safe }} </script>
    <script> {{ growth[1]|safe }} {{ growth[2]|safe }} </script>

    {{ footer_html() }}

    </body>
</html>
