<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
            {% from "mytools.html" import head_html  %}
            {% from "mytools.html" import footer_html %}
            <title> Welcome to your stats </title>
            {{ head_html() }}

   </head>
    <body>

    <h2>Deepsocial Stats</h2>

    <p>Deepsocial is a website that provides analytics and user statistics for registered users of Instagram.
        This Privacy Policy describes how and when Deepsocial collects, uses and shares your information when you use our Services.</p>

    <h2>Deepsocial for Instagram receives infomation from Instagram's API.</h2>

    <h2>Deepsocial does not stored any data displayed.</h2>

    <h2>Cookies: We do not store any cookies.</h2>

    <h2>Information Sharing and Disclosure</h2>
    <p>We do not disclose your private personal information except in the limited circumstances described here.</p>

    <p><span>Law and Harm</span>: Notwithstanding anything to the contrary in this Policy, we may preserve or disclose
        your information if we believe that it is reasonably necessary to comply with a law, regulation or legal request;
        to protect the safety of any person; to address fraud, security or technical issues; or to protect Grab for Instagram's rights or property.
        However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party,
        including a government, request to disclose your information. If you wish to contact us please email brianbryo@gmail.com </p>

    </body>
</html>
